<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfoliotracker</title>
    <style>
      /* Footer */
      footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }

    .sidebar {
    width: 200px;
    background-color: #181818;
    height: 100vh;
    padding: 20px;
  }
  
  .sidebar h2 {
    color: #4a90e2;
  }
  
  .sidebar a {
    display: block;
    margin: 15px 0;
    color: #fff;
    text-decoration: none;
  }

    </style>
  </head>
  