<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfoliotracker</title>
    <style>

        
    /*css til footer */
        body{
            /* Sørg for at body og html fylder hele højden */
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
            }
  
            /* En wrapper omkring hele siden */
            .wrapper {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }
  
            /* Main fylder det der er tilbage af skærmen */
            main {
                flex: 1;
            }
            
            /* Footer */
            .site-footer {
                background-color: #333;
                color: white;
                text-align: center;
                padding: 1em 0;
            } 
        }
        
    </style>
</head>