<nav class="sidebar">
    <h2>Portefølje</h2>
    <a href="/">Dashboard</a>
    <a href="/portfolio">Min Portefølje</a>
    <a href="/investeringer">Investeringer</a>
    <a href="/signout">Sign out</a>
</nav>