<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<link rel="stylesheet" href="/style.css">
<!-- Formular til bruger login -->
<div class="container">
    <h1><%= msg %></h1>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Brugernavn" required />
      <input type="password" name="password" placeholder="Adgangskode" required />
      <button type="submit">Log ind</button>
    </form>

    <!-- Signup Form -->
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Nyt brugernavn" required />
      <input type="text" name="email" placeholder="Indtast e-mail" required/>
      <input type="password" name="password" placeholder="Kodeord" required />
      <button type="submit">Opret bruger</button>
    </form>
    <%- include('partials/footer') %>
  </div>
</body>
</html>